@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --fair-purple: #F6AAFF;
  --fair-blue: #58BDF6;
  --fair-green: #D4FA62;
  --fair-orange: #FFB164;

  --fair-purple-dark: #9D7BA1;
  --fair-blue-dark: #718BD2;
  --fair-green-dark: #A5AB56;
  --fair-orange-dark: #EE7D4D;
}

@keyframes moveLine {
0% {
transform: translateX(0);
opacity:0;
}
10% {
opacity:0.6;
}
90% {
opacity:0.6;
}
100% {
transform: translateX(140vw);
opacity:0;
}
}
@keyframes moveLine {

0% {
transform: translateX(0)
}

100% {
transform: translateX(160vw)
}

}
/* ===== FIX LARGE SECTION GAPS ===== */

/* reduce big vertical paddings globally */
.py-28{
padding-top:70px !important;
padding-bottom:70px !important;
}

.py-24{
padding-top:60px !important;
padding-bottom:60px !important;
}

.py-20{
padding-top:50px !important;
padding-bottom:50px !important;
}
.section-glow {
  position: relative;
}

.section-glow::before {
  content: "";
  position: absolute;
  inset: -200px;
  background: radial-gradient(
    circle at center,
    rgba(88,189,246,0.15),
    transparent 70%
  );
  pointer-events: none;
  z-index: 0;
}

.section-glow > * {
  position: relative;
  z-index: 1;
}
html, body {
  overflow-x: hidden;
}